.projects {
    padding-bottom: var(--space-12);
  }
  
  .projects__list {
    display: grid;
    gap: var(--space-4);
  }
  
  .project-card__links {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4);
  }
  
  @media (min-width: 900px) {
    .projects {
      padding-bottom: var(--space-20);
    }
  }